    {{- $scratch := newScratch }}

    {{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
    {{- end }}

    {{- if (.Param "ShowReadingTime") -}}
    {{- $cups := 1 -}}
    {{- if gt .ReadingTime 15 }}{{- $cups = 5 -}}
    {{- else if gt .ReadingTime 10 }}{{- $cups = 4 -}}
    {{- else if gt .ReadingTime 7 }}{{- $cups = 3 -}}
    {{- else if gt .ReadingTime 3 }}{{- $cups = 2 -}}
    {{- end -}}
    {{- $coffeeStr := "" -}}
    {{- range (seq $cups) }}{{- $coffeeStr = printf "%s☕" $coffeeStr -}}{{ end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class='reading-time-coffee' title='预计阅读 %d 分钟'>%s %d min</span>" .ReadingTime $coffeeStr .ReadingTime)) }}
    {{- end }}

    {{- if (.Param "ShowWordCount") -}}
    {{- $wc := .WordCount -}}
    {{- $wcDisplay := "" -}}
    {{- if ge $wc 10000 -}}
      {{- $wcDisplay = printf "%.1f 万字" (div (float $wc) 10000.0) -}}
    {{- else if ge $wc 1000 -}}
      {{- $wcDisplay = printf "%.1fk 字" (div (float $wc) 1000.0) -}}
    {{- else -}}
      {{- $wcDisplay = printf "%d 字" $wc -}}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class='word-count' title='全文约 %d 字'>📄 %s</span>" $wc $wcDisplay)) }}
    {{- end }}

    {{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
    {{- $scratch.Add "meta" (slice .) }}
    {{- end }}
    {{- end }}

    {{- $categories := .Language.Params.Taxonomies.category | default "categories" }}
    {{- with ($.GetTerms $categories) }}
    {{- $categoryLinks := slice }}
    {{- range . }}
    {{- $categoryLinks = $categoryLinks | append (printf "<a href=\"%s\">%s</a>" .Permalink .LinkTitle) }}
    {{- end }}
    {{- $categoryString := delimit $categoryLinks "&nbsp;" | safeHTML }}
    {{- $scratch.Add "meta" (slice (string $categoryString)) }}
    {{- end }}

    {{- $series := .Language.Params.Taxonomies.series | default "series" }}
    {{- with ($.GetTerms $series) }}
    {{- $seriesLinks := slice }}
    {{- range . }}
    {{- $seriesLinks = $seriesLinks | append (printf "<a href=\"%s\">%s</a>" .Permalink .LinkTitle) }}
    {{- end }}
    {{- $seriesString := delimit $seriesLinks "&nbsp;" | safeHTML }}
    {{- $scratch.Add "meta" (slice (string $seriesString)) }}
    {{- end }}

    {{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
    {{- end -}}
